<h3>Question from <%= link_to @question.user.username, @question.user %></h3>
<span class="timestamp">
	Asked <%= time_ago_in_words(@question.created_at) %> ago.
</span>
<div class="row">
	<aside class="span6">
		<section>
			<br>
			<b>Question from <%= link_to @question.user.username, @question.user %>:</b> 
			<%= simple_format(@question.content) %>
		</section>
		<div class="comment_unit">
			<% if @question.comments.any? %>
				<ol class="comments">
					<%= render 'shared/comment_feed' %>
				</ol>
			<% end %>
			<%= render 'shared/comment_form' %>
		</div>
	</aside>
	<div class="span6">
		<br>
		<% if @question.responses.count==0 %>
			<% if current_user.ninja? %>
				<%= render 'shared/response_form' %>
			<% end %>
		<% else %>
			<%= render 'shared/response_feed' %>
		<% end %>
	</div>
</div>