<% if signed_in? %>
  <% if current_user.admin? %>
  	<% provide(:title, 'Admin') %>
  	<h1>Admin</h1>
  	<h4><%= link_to "Users:", users_path %> <%= @installs.count %></h4>
  	<h4><%= link_to "Pending Questions:", pending_path %> <%= @pending_items.count %></h4>
  	<h4><%= link_to "Questions with new user comments:", commented_path %> <%= @new_comment_items.all.count %></h4>
  	<h4><%= link_to "Answered Questions:", answered_path %> <%= @answered_items.count %></h4>
  <% end %>
<% end %>