<% provide(:title, 'Home') %>
<% content_for :head do %>
  <meta name = "description" content = "On-demand answers to any physics question. Get high-quality help on homework with explanations and solutions you can actually understand!" />
  <meta name = "keywords" content = "physics, homework, help, questions, answers, solutions, tutor, tutoring" />
<% end %>

<% if signed_in? %>
  <% if current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
          <br>
          <span>
            <% if @new_comment_items.any? %>
              <%= link_to "You have new comments to view!", current_user, class: "new_comment_button" %>
            <% else %>
              <%= link_to "View your answers", current_user, class: "btn btn-large btn-primary" %>
            <% end %>
          </span>
        </section>
      </aside>
      <div class="span8">
        <h3>New questions <i>(<%= @pending_items.count %>)</i></h3>
        <ul class="questions">
          <%= render 'shared/pending' %>
        </ul>
      </div>
    </div>
  <% elsif current_user.admin? && !current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
        <%= link_to "View admin panel", admin_path, class: "btn btn-large btn-primary" %>
      </aside>
      <div class="span8">
        
      </div>
    </div>
  <% else %>
    <% if current_user.purchases.any? %>
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info'%>
          </section>
          <br>
          <% if @user.q_balance > 0 %>
            <section>
              <%= render 'shared/question_form' %>
            </section>
          <% else %>
            <section>
              <%= link_to "Buy more questions", plans_path, class: "btn btn-large btn-primary" %>
            </section>
          <% end %>
          <p>Want to be ninja? <%= link_to "Learn more.", new_ninja_path %><p>
        </aside>
        <div class="span8">
          <h3>Answered questions <i>(<%= @answered_items.count %>)</i></h3>
            <ol class="questions">
              <%= render 'shared/answered' %>
            </ol>
            <br>
            <h3>Pending questions <i>(<%= @pending_items.count %>)</i></h3>
            <ol class="questions">
              <%= render 'shared/pending' %>
            </ol>
        </div>
      </div>
    <% else %>
      <div class="center">
        <h1>Congratulations, <%= current_user.username %></h1> 
        <h2>You have entered the lair of the Physics Ninja.</h2>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <span style="display:block; height: 10px;"></span>
          <h3>What we do</h3>
          <p>
            Give you clear, thorough, hilarious, and helpful answers to any physics question obstructing your path to sleep and/or fun.
          </p>
          <span style="display:block; height: 1px;"></span>
          <h3>What you get:</h3>
          <ul>
            <p>
              1. An answer within 24 hours.
              <br>
              2. Explanations you can actually understand and learn from.
              <br>
              3. The option to resolve your unique concerns in a private comments section.
            </p>
          </ul>
          <span style="display:block; height: 10px;"></span>
          <center>
            <%= link_to "Buy your first question", new_purchase_path(plan_id: 1), class: "btn btn-large btn-primary" %>
            <span style="display:block; height: 8px;"></span>
            <p>
              ...for the low low price of $5 (<%= link_to "WTF why??", why_we_charge_path %>)
            </p>
          </center>
          <p>
            Learn more about <%= link_to "how it works", how_it_works_path %>
          </p>
        </div>
        <div class="row">
          <div class="span12">
            <span style="display:block; height: 5px;"></span>
            <p>
            </p>
          </div>
          <aside class="span6">
            <div class="comment_unit">
              <b>Question:</b> 
              <p>A Porsche 944 Turbo has a rated engine power of 217 hp. 30% of the power is lost in the drive train, and 70% reaches the wheels. The total mass of the car and driver is 1500kg, and two-thirds of the weight is over the drive wheels. What is the maximum acceleration of the Porsche on a concrete surface where mu=1.00?</p>
            </div>
            <br>
            <p>
              <b>More examples</b> of the Ninja's powers:
              <br>
              <%= link_to "Elastic and inelastic collisions", example_path(id: 2) %>
              <br>
              <%= link_to "Dartboard kinematics", example_path(id: 3) %>
              <br>
              <%= link_to "Speed of light", example_path(id: 4) %>
              <br>
              <%= link_to "Particles in orbit", example_path(id: 5) %>
            </p>
            <br><br>
            <p>
              <b>Learn more</b> about the Ninja:
              <br>
              <%= link_to "How does it work?", how_it_works_path %>
              <br>
              <%= link_to "Why do we charge?", why_we_charge_path %>
              <br>
              <%= link_to "Ninja Code of Honor", ninja_code_path %>
            </p>
            <br><br>
            <p>Want to be ninja? <%= link_to "Learn more.", new_ninja_path %><p>
          </aside>
          <div class="span6">
            <div class="response_content">
              <b>Answer: </b>
              <p>The Porsche will reach its maximum acceleration when the force driving it (F_d) is as large as possible. This force F_d reaches a maximum when it is exactly equal to the force of friction on wheels (F_f). This is because if F_d were greater than F_f, the Porsche's wheels would just spin and the car would go nowhere! So at maximum acceleration, you have:</p>
              <p>F_d = F_f</p>
              <p>The driving force of the car at the maximum acceleration (a_max) is given by Newton's second law:</p>
              <p>F_d = m*(a_max)</p>
              <p>Meanwhile, the force of friction is:</p>
              <p>F_f = (mu)*F_N</p>
              <p>where the normal force F_N is the normal force on the drive wheels. Since 2/3 of the total mass is over the drive wheels, the friction force is then:</p>
              <p>F_f = (mu)*(2/3)*m*g</p>
              <p>Setting F_d = F_f gives:</p>
              <p>m*(a_max) = (mu)*(2/3)*m*g</p>
              <p>The m's cancel, so:</p>
              <p>a_max = (mu)*(2/3)*g</p>
              <p>and you can solve for a_max.</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center hero-unit">
    <h1>Physics Ninja</h1>
    <h2>On-demand answers to any physics question</h2>
    <h3>Ready to begin?</h3>
    <%= link_to "Enter", signup_path, class: "btn btn-large btn-primary" %>
    <br><br>
    <center><p><font size=3>
      Already initiated? <%= link_to "Sign in", signin_path %>
    </p></center></font>
  </div>
  <ul>
    <b>The Physics Ninja has been endorsed by the greatest scientists across spacetime:</b>
  </ul>
  <ul>
    "I fucking love the Physics Ninja!!!!"
    <br><i>Marie Curie, Nobel Laureate in physics and chemistry</i>
  </ul>
  <ul>
    "I had nooo clue what was happening with my physics homework before I discovered the Physics Ninja! Now, I totally understand everything."
    <br><i>Johannes Kepler, Astronomer & physicist</i>
  </ul>
  <ul>
    "Even I can admit: The Ninja's got some sick moves."
    <br><i>Isaac Newton, Physicst & mathematician</i>
  </ul>
<% end %> 