<% if signed_in? %>
  <% if current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
          <br>
          <span>
          <%= link_to "View your answers", current_user, class: "btn btn-large btn-primary" %>
          </span>
        </section>
      </aside>
      <div class="span8">
        <h3>New questions <i>(<%= @pending_items.count %>)</i></h3>
        <ul class="questions">
          <%= render 'shared/pending' %>
        </ul>
      </div>
    </div>
  <% elsif current_user.admin? && !current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
      </aside>
      <div class="span8">
        <h3>TBD admin stuff</h3>
      </div>
    </div>
  <% else %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
        <br>
        <section>
          <%= render 'shared/question_form' %>
        </section>
        <section>
          <%= link_to "Buy more questions", plans_path, class: "btn btn-large btn-primary" %>
        </section>
      </aside>
      <div class="span8">
        <h3>Answered questions <i>(<%= @answered_items.count %>)</i></h3>
          <ol class="questions">
            <%= render 'shared/answered' %>
          </ol>
          <br>
          <h3>Pending questions <i>(<%= @pending_items.count %>)</i></h3>
          <ol class="questions">
            <%= render 'shared/pending' %>
          </ol>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="center hero-unit">
    <h1>Physics Ninja</h1>
    <h2>On-demand answers to any physics question</h2>
    <h3>Ready to begin?</h3>
    <%= link_to "Enter", signup_path, class: "btn btn-large btn-primary" %>
    <br><br>
    <center><p><font size=3>
      Already initiated? <%= link_to "Sign in", signin_path %>
    </p></center></font>
  </div>
  <ul>
    <b>The Physics Ninja has been endorsed by the greatest scientists across spacetime:</b>
  </ul>
  <ul>
    "I fucking love the Physics Ninja!!!!"
    <br><i>Marie Curie, Nobel Laureate in physics and chemistry</i>
  </ul>
  <ul>
    "I had nooo clue what was happening with my physics homework before I discovered the Physics Ninja! Now, I totally understand everything."
    <br><i>Johannes Kepler, Astronomer & physicist</i>
  </ul>
  <ul>
    "Even I can admit: The Ninja's got some sick moves."
    <br><i>Isaac Newton, Physicst & mathematician</i>
  </ul>
<% end %> 