<% if signed_in? %>
  <% if current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
          <br>
          <span>
            <% if @new_comment_items.any? %>
              <%= link_to "You have new comments to view!", current_user, class: "new_comment_button" %>
            <% else %>
              <%= link_to "View your answers", current_user, class: "btn btn-large btn-primary" %>
            <% end %>
          </span>
        </section>
      </aside>
      <div class="span8">
        <h3>New questions <i>(<%= @pending_items.count %>)</i></h3>
        <ul class="questions">
          <%= render 'shared/pending' %>
        </ul>
      </div>
    </div>
  <% elsif current_user.admin? && !current_user.ninja? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info'%>
        </section>
      </aside>
      <div class="span8">
        <h3>TBD admin stuff</h3>
      </div>
    </div>
  <% else %>
    <% if !current_user.stripe_customer_token.nil? %>
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info'%>
          </section>
          <br>
          <% if @user.q_balance > 0 %>
            <section>
              <%= render 'shared/question_form' %>
            </section>
          <% else %>
            <section>
              <%= link_to "Buy more questions", plans_path, class: "btn btn-large btn-primary" %>
            </section>
          <% end %>
          <p>Want to be ninja? <%= link_to "Learn more.", new_ninja_path %><p>
        </aside>
        <div class="span8">
          <h3>Answered questions <i>(<%= @answered_items.count %>)</i></h3>
            <ol class="questions">
              <%= render 'shared/answered' %>
            </ol>
            <br>
            <h3>Pending questions <i>(<%= @pending_items.count %>)</i></h3>
            <ol class="questions">
              <%= render 'shared/pending' %>
            </ol>
        </div>
      </div>
    <% else %>
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info'%>
          </section>
          <br>
          <section>
            <%= link_to "Purchase", new_purchase_path(plan_id: 1), class: "btn btn-large btn-primary" %>
          </section>
          <p>Want to be ninja? <%= link_to "Learn more.", new_ninja_path %><p>
        </aside>
        <div class="span8">
          <h3>Example, copy, whatever, BUY THIS</h3>
          
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="center hero-unit">
    <h1>Physics Ninja</h1>
    <h2>On-demand answers to any physics question</h2>
    <h3>Ready to begin?</h3>
    <%= link_to "Enter", signup_path, class: "btn btn-large btn-primary" %>
    <br><br>
    <center><p><font size=3>
      Already initiated? <%= link_to "Sign in", signin_path %>
    </p></center></font>
  </div>
  <ul>
    <b>The Physics Ninja has been endorsed by the greatest scientists across spacetime:</b>
  </ul>
  <ul>
    "I fucking love the Physics Ninja!!!!"
    <br><i>Marie Curie, Nobel Laureate in physics and chemistry</i>
  </ul>
  <ul>
    "I had nooo clue what was happening with my physics homework before I discovered the Physics Ninja! Now, I totally understand everything."
    <br><i>Johannes Kepler, Astronomer & physicist</i>
  </ul>
  <ul>
    "Even I can admit: The Ninja's got some sick moves."
    <br><i>Isaac Newton, Physicst & mathematician</i>
  </ul>
<% end %> 