<% provide(:title, 'How it works') %>
<div class="center">
	<h1>How it works</h1>
	<h2>The Ninja from A to Z</h2>
</div>
<div class="row">
	<div class="span10 offset1">
		<h3>The Protocol</h3>
		<p>
			<b>1. An answer within 24 hours</b> 
			<ul>Ask and you shall receive. Give us a problem, we give you the solution. 24 hours starts from the moment (timestamped!) you ask the question.</ul>
		</p>
		<p>
			<b>2. Step-by-step instruction</b> 
			<ul>Other sites answer questions with walls of equations, and they don't explain how they figured out which concepts to apply and why. You might get the answer from them, but you won't learn from it. We break down every problem to bite-size pieces, so you *gasp!* actually understand it!</ul>
		</p>
		<p>
			<b>3. The option to resolve concerns/clarification in a private comments section</b> 
			<ul>The ninja will work with you one-on-one to make sure you get the answer you need.</ul>
		</p>
		<span style="display:block; height: 10px;"></span>
		<h3>The Rules</h3>
		<ul>
			<li>
				<p>
					<b>Don't cheat</b>
					<br>
					We're pretty good at spotting questions lifted from take-home exams. We're here to help you learn--not to help you cheat. So don't ask us to. Follow the <%= link_to "Ninja Code", ninja_code_path %>.
				</p>
			</li>
			<li>
				<p>
					<b>Don't double dip</b>
					<br>
					In the spirit of ingenuity, you might be tempted to try to get around paying for questions--say, by submitting them through the comments section or emailing them to our support center. But nobody likes a double dipper. Don't be that person--we won't answer.
				</p>
			</li>
			<li>
				<p>
					<b>Do hold us accountable</b>
					<br>
					Our commitment is to give you answers that meet your needs. The Ninja will interact with you personally in the comments if you want to get more clarification, explore a problem for a different angle, or just chat. If an answer isn't working for you or something goes wrong, please let us know via <%= link_to "ninja support", support_path %>.
				</p>
			</li>
		</ul>
		<span style="display:block; height: 10px;"></span>
		<h3>FAQs</h3>
		<ul class="questions">
			<li>
				<p>
					Q: Okay, I'm here--what do I do?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: First, <%= link_to "buy a question", plans_path %> (the first one is offered at a <%= link_to "discount", new_purchase_path(plan_id: 1) %>). Then just <%= link_to "ask!", root_path %>
						<br>
						Check back on your <%= link_to "home page", root_path %> to see your answer within 24 hours (usually less)--just click "View answer" under your question. By clicking on questions, you can also leave comments before or after your answer has been posted if you need to add something or ask for more info.
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Who can use The Physics Ninja?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: Anyone and everyone. We answer high school, college, and general curiosity physics questions.
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: What kinds of questions can I ask?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: You can send us a question directly from a homework assignment or textbook, or ask something more general. We can walk you through a tough derivation or just chat about the speed of light. We do it all!
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Why is it so expensive? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: The Physics Ninja gives you more than just an answer: In addition to providing clear explanations, we also work with you one-on-one for as long as it takes to help you understand. We charge what we think is fair based on that level of quality (more on that <%= link_to "here", why_we_charge_path %>).
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: How is my credit card information stored? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: To ensure a high level of security, we use <%= link_to "stripe", "http://www.stripe.com", target: '_blank' %> to handle all of our transactions. All credit card numbers are transferred over SSL and are encrypted on a disk with AES-256.
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Who are you? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: We are the heroes physics deserves, the ones the Internet needs right now. We are the silent guardians, the watchful protectors, the Dark Knights. We are The Physics Ninja.
						<br><br>
						Come on, what would the fun be if we told you?
					</span>
				</p>
			</li>
		</ul>
	</div>
</div>