<% if current_user.admin %>
	<li>
		<%= link_to user.username, user %>
		<% if user.admin? %>
			| admin
		<% end %>
		<% if user.ninja? %>
			| ninja
		<% end %>
		<br>
		<% if !current_user?(user) %>
			<%= link_to "delete user", user, method: :delete,
																	data: { confirm: "Delete this user?" } %>
			<% if !user.admin? %>
				| <%= link_to "make admin", { controller: :users, action: :toggle_admin, id: user.id }, data: { confirm: "Give this user admin powers?" } %>
			<% else %>
				| <%= link_to "demote admin", { controller: :users, action: :toggle_admin, id: user.id }, data: { confirm: "Disable admin powers?" } %>
			<% end %>
			<% if !user.ninja? %>
				| <%= link_to "make ninja", { controller: :users, action: :toggle_ninja, id: user.id }, data: { confirm: "Give this user ninja powers?" } %>
			<% else %>
				| <%= link_to "demote ninja", { controller: :users, action: :toggle_ninja, id: user.id }, data: { confirm: "Disable ninja powers?" } %>
			<% end %>
			<br>
			<%= link_to "give question credit", { controller: :users, action: :give_q, id: user.id }, data: { confirm: "Credit 1 question to #{user.username}?" } %>
		<% end %>
	</li>
<% end %>