<%# provide(:title, @user.username) %>
<% if @user.ninja? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info'%>
			</section>
				<br>
				<span>
				<%= link_to "View your answers", root_path, class: "btn btn-large btn-primary" %>
				</span>
			</section>
		</aside>
		<div class="span8">
			<h3>Pending questions <i>(count)</i></h3>
			<ul class="questions">
				<% @questions.each do |question| %>
					<% if question.responses.count == 0 %>
						<li>
							<%= truncate(question.content, length: 80) %>
							<div class="timestamp">
								Asked by <%= link_to question.user.username, question.user %> <%= time_ago_in_words(question.created_at) %> ago.
							</div>
							<%= link_to "Answer this question", question %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
<% else %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info'%>
			</section>
				<br>
				<span>
				<%= link_to "Ask a new question", root_path, class: "btn btn-large btn-primary" %>
				</span>
			</section>
		</aside>
		<div class="span8">
			<h3>Answered questions <i>(<%= @answered_items.count %>)</i></h3>
			<%= render 'shared/answered' %>
		</div>
	</div>
<% end %>