<li id="<%= answered_item.id %>">
	<span class="content">
		<b>Answer from <%= link_to answered_item.responses.first.user.username, answered_item.responses.first.user %> on your question:</b>
		<br>
		<%= truncate(answered_item.content, length: 80) %>
	</span>
	<span class="timestamp">
		Answered <%= time_ago_in_words(answered_item.responses.first.created_at) %> ago.
	</span>
	<br>
		<%= link_to "View answer or leave a comment", answered_item %>
</li>