<li id="<%= answered_item.id %>">
	<span class="content">
		<b>Question from <%= link_to answered_item.user.username, answered_item.user %>:</b>
		<br>
		<%= truncate(answered_item.content, length: 80) %>
	</span>
	<span class="timestamp">
		Answered <%= time_ago_in_words(answered_item.responses.first.created_at) %> ago.
	</span>
	<br>
		<%= link_to "View this question", answered_item %>
</li>