<li id="<%= pending_item.id %>">
	<span class="content">
		<b>Question from <%= link_to pending_item.user.username, pending_item.user %>:</b>
		<br>
		<%= truncate(pending_item.content, length: 80) %>
	</span>
	<span class="timestamp">
		Asked <%= time_ago_in_words(pending_item.created_at) %> ago.
	</span>
	<br>
	<% if current_user.ninja? %>
		<%= link_to "Answer question", pending_item %>
	<% else %>
		<%= link_to "View question or leave a comment", pending_item %>
	<% end %>
</li>