<li id="<%= unapproved_item.id %>">
	<span class="content">
		<b>Question from <%= link_to unapproved_item.user.username, unapproved_item.user %>:</b>
		<br>
		<%= truncate(unapproved_item.content, length: 80) %>
	</span>
	<span class="timestamp">
		Asked <%= time_ago_in_words(unapproved_item.created_at) %> ago.
	</span>
	<br>
		<%= link_to "View this question", unapproved_item %>
</li>