<h3>Question from <%= link_to @question.user.username, @question.user %></h3>
<span class="timestamp">
	Asked <%= time_ago_in_words(@question.created_at) %> ago.
</span>
<div class="row">
	<aside class="span6">
		<section>
			<br>
			<b>Question:</b> 
			<%= simple_format(@question.content) %>
		</section>
		<div class="comment_unit">
			<% if @question.comments.any? %>
				<% @question.comments.each do |comment| %>
					<ol class="comments">
						<li>
							<span class="comment_content">
								<b>Comment from <%= link_to comment.user.username, comment.user %>:</b><%= simple_format(comment.content) %>
							</span>
							<span class="timestamp">
								Submitted <%= time_ago_in_words(comment.created_at) %>
								ago.
							</span>
						</li>
					</ol>
				<% end %>
			<% end %>
		</div>
	</aside>
	<div class="span6">
		<br>
		<% if @question.responses.count==0 %>
			<% if current_user.ninja? %>
				<%= render 'shared/response_form' %>
			<% end %>
		<% else %>
			<%= render 'shared/response_feed' %>
		<% end %>
	</div>
</div>